.container {
    max-width: 1440px;
    margin: 20px auto;
    padding: 0 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f4f4f4;
}

.options div {
    padding: 15px 0;
    font-size: 20px;
}